[defaults]
inventory = /usr/local/lib/ansible/inventory
retry_files_enabled = False
roles_path = /usr/local/lib/ansible/roles
collections_paths = ~/.ansible/collections:/usr/local/lib/ansible/collections:/usr/share/ansible/collections

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

